# 索引操作

In [1]:
import numpy as np
import pandas as pd

In [2]:
score_data = np.random.randint(60, 100, size = (10, 5))
score_data

array([[84, 71, 91, 72, 95],
       [85, 84, 89, 85, 65],
       [98, 98, 67, 98, 83],
       [87, 80, 94, 65, 93],
       [67, 80, 71, 81, 72],
       [85, 96, 65, 86, 89],
       [61, 82, 86, 63, 72],
       [74, 82, 65, 82, 72],
       [68, 82, 83, 96, 89],
       [77, 81, 91, 89, 66]])

In [20]:
score_df = pd.DataFrame(score_data)

col_name = ["语", "外", "物", "化", "生"]
idx_names = ['同学' + str(i) for i in range(score_df.shape[0])]

score_df.columns = col_name
score_df.index = idx_names
print(score_df)

      语   外   物   化   生
同学0  84  71  91  72  95
同学1  85  84  89  85  65
同学2  98  98  67  98  83
同学3  87  80  94  65  93
同学4  67  80  71  81  72
同学5  85  96  65  86  89
同学6  61  82  86  63  72
同学7  74  82  65  82  72
同学8  68  82  83  96  89
同学9  77  81  91  89  66

# 索引还原

In [21]:
aa = score_df.reset_index(drop = False, inplace= True)
score_df

  index   语   外   物   化   生
0   同学0  84  71  91  72  95
1   同学1  85  84  89  85  65
2   同学2  98  98  67  98  83
3   同学3  87  80  94  65  93
4   同学4  67  80  71  81  72
5   同学5  85  96  65  86  89
6   同学6  61  82  86  63  72
7   同学7  74  82  65  82  72
8   同学8  68  82  83  96  89
9   同学9  77  81  91  89  66

# 索引设置

In [26]:
score_df.set_index(['index'])
score_df

  index   语   外   物   化   生
0   同学0  84  71  91  72  95
1   同学1  85  84  89  85  65
2   同学2  98  98  67  98  83
3   同学3  87  80  94  65  93
4   同学4  67  80  71  81  72
5   同学5  85  96  65  86  89
6   同学6  61  82  86  63  72
7   同学7  74  82  65  82  72
8   同学8  68  82  83  96  89
9   同学9  77  81  91  89  66

# category 类型

In [27]:
categories = pd.Series(['red', 'green', 'yellow'], dtype = 'category')
print(categories.)

0       red
1     green
2    yellow
dtype: category
Categories (3, object): ['green', 'red', 'yellow']