In [1]:
import pandas as pd
import os

os.curdir
os.chdir('./pandasData')

In [2]:
df = pd.read_csv('stock_day.csv')
df

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-06,13.17,14.48,14.28,13.13,179831.72,1.12,8.51,13.112,13.112,13.112,115090.18,115090.18,115090.18,6.16
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,12.820,12.820,12.820,98904.79,98904.79,98904.79,3.19
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,12.707,12.707,12.707,100812.93,100812.93,100812.93,2.30
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,12.610,12.610,12.610,117681.67,117681.67,117681.67,4.76
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,12.520,12.520,12.520,96291.73,96291.73,96291.73,3.30

# 基础运算

In [3]:
# Series的加减法

df.open.add(1) #临时加
df.open += 1 #永久加

df.

SyntaxError: invalid syntax (<ipython-input-3-e4776c49d7d9>, line 6)

# 逻辑运算

In [ ]:
df

In [ ]:
df.head(5).loc[['2018-02-27', '2018-02-23', '2018-02-22']]

In [ ]:
df.head(5).iloc[[0, 2, 3]]

In [ ]:
df.head(5)[[True, False, True, True, False]]

## 逻辑运算函数

In [ ]:
#query方法，直接使用表达式
df.query('open >= 23 & open <= 25')
df[(df.open == 23.53) | (df.open == 25.60)]

In [ ]:
#isin方法
df[df.open.isin([23.80, 25.60])]

# 统计运算

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.count(axis="columns")
# df.count(axis="rows")

In [ ]:
df.idxmax(axis="columns")

In [ ]:
df.open.mode()

# 累计统计

In [ ]:
df.sort_index()

In [ ]:
df.cumsum()

In [ ]:
df.open.cumsum().plot()

In [ ]:
# 按照列自定义计算
df.apply(lambda col: col.max(), axis = 0)
df.apply(lambda col: col.min(), axis = 0)

#按照行自定义计算
df.apply(lambda row: row.max(), axis=1)
df.apply(lambda row: row.min(), axis=1)

#操作单个元素
df.apply(lambda x: x * 2)
df.apply(lambda row: row["open"] + row["high"], axis = 1)

df[['open', 'high']].apply(lambda x : x + 100)

#返回多列结果
def complex_return(row):
    return pd.Series({
        "open+high" : row["open"] + row["high"],
        "open-high" : row["open"] + row["high"]
    })

df.apply(complex_return, axis = 1)

#计算指定列的极值
# df[['open', 'high', 'low']].apply(lambda col: col.max() - col.min(), axis = 0)