In [1]:
import pandas as pd
import os

In [2]:
# 准备数据.
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                        'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                        'key2': ['K0', 'K0', 'K0', 'K0'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})
df3 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                        'key2': ['K0', 'K0', 'K0', 'K0'],
                        'E': ['E0', 'E1', 'E2', 'E3'],
                        'F': ['F0', 'F1', 'F2', 'F3']},index=[10, 11, 12, 13])

In [3]:
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [4]:
right

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

# 演示 pd.concat()合并

In [5]:
# 合并left 和 right 默认是 纵向合并保留列
pd.concat([left, right])

pd.concat([left, right], axis = 0)

  key1 key2    A    B    C    D
0   K0   K0   A0   B0  NaN  NaN
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2  NaN  NaN
3   K2   K1   A3   B3  NaN  NaN
0   K0   K0  NaN  NaN   C0   D0
1   K1   K0  NaN  NaN   C1   D1
2   K1   K0  NaN  NaN   C2   D2
3   K2   K0  NaN  NaN   C3   D3

In [6]:
pd.concat([left, right], axis = 1)

  key1 key2   A   B key1 key2   C   D
0   K0   K0  A0  B0   K0   K0  C0  D0
1   K0   K1  A1  B1   K1   K0  C1  D1
2   K1   K0  A2  B2   K1   K0  C2  D2
3   K2   K1  A3  B3   K2   K0  C3  D3

In [7]:
pd.concat([left, right, df3])

   key1 key2    A    B    C    D    E    F
0    K0   K0   A0   B0  NaN  NaN  NaN  NaN
1    K0   K1   A1   B1  NaN  NaN  NaN  NaN
2    K1   K0   A2   B2  NaN  NaN  NaN  NaN
3    K2   K1   A3   B3  NaN  NaN  NaN  NaN
0    K0   K0  NaN  NaN   C0   D0  NaN  NaN
1    K1   K0  NaN  NaN   C1   D1  NaN  NaN
2    K1   K0  NaN  NaN   C2   D2  NaN  NaN
3    K2   K0  NaN  NaN   C3   D3  NaN  NaN
10   K0   K0  NaN  NaN  NaN  NaN   E0   F0
11   K1   K0  NaN  NaN  NaN  NaN   E1   F1
12   K1   K0  NaN  NaN  NaN  NaN   E2   F2
13   K2   K0  NaN  NaN  NaN  NaN   E3   F3

# 演示merge合并

In [10]:
#数据准备
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                        'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                        'key2': ['K0', 'K0', 'K0', 'K0'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})
print(left)
print(right)

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3
  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [13]:
#内连接
result = pd.merge(left, right, on = ['key1', 'key2'])
result

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [14]:
#左连接
result = pd.merge(left, right, how = 'left', on = ['key1', 'key2'])
result

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN