In [3]:
import pandas as pd

df = pd.read_csv("pandasData/uniqlo.csv")
df

,store_id,city,channel,gender_group,age_group,wkd_ind,product,customer,revenue,order,quant,unit_cost
0,658,深圳,线下,Female,25-29,Weekday,当季新品,4,796.0,4,4,59
1,146,杭州,线下,Female,25-29,Weekday,运动,1,149.0,1,1,49
2,70,深圳,线下,Male,>=60,Weekday,T恤,2,178.0,2,2,49
3,658,深圳,线下,Female,25-29,Weekday,T恤,1,59.0,1,1,49
4,229,深圳,线下,Male,20-24,Weekend,袜子,2,65.0,2,3,9
...,...,...,...,...,...,...,...,...,...,...,...,...
22288,146,杭州,线下,Female,30-34,Weekday,短裤,1,80.0,1,2,19
22289,430,成都,线下,Female,25-29,Weekend,T恤,1,79.0,1,1,49
22290,449,武汉,线下,Female,35-39,Weekday,T恤,1,158.0,1,2,49
22291,758,杭州,线下,Female,20-24,Weekday,袜子,1,26.0,1,1,9
22292,616,成都,线下,Male,30-34,Weekday,当季新品,1,79.0,1,1,59

In [9]:
# 基于一列
df_gb = df.groupby("gender_group")
df_gb
print(df_gb.get_group('Female'))
print(df_gb['city'])

       store_id city channel gender_group age_group  wkd_ind product  \
0           658   深圳      线下       Female     25-29  Weekday    当季新品
1           146   杭州      线下       Female     25-29  Weekday      运动
3           658   深圳      线下       Female     25-29  Weekday      T恤
5            28   武汉      线上       Female     35-39  Weekend      T恤
6           649   杭州      线下       Female     25-29  Weekend      短裤
...         ...  ...     ...          ...       ...      ...     ...
22287       519   杭州      线下       Female     20-24  Weekday      T恤
22288       146   杭州      线下       Female     30-34  Weekday      短裤
22289       430   成都      线下       Female     25-29  Weekend      T恤
22290       449   武汉      线下       Female     35-39  Weekday      T恤
22291       758   杭州      线下       Female     20-24  Weekday      袜子

       customer  revenue  order  quant  unit_cost
0             4    796.0      4      4         59
1             1    149.0      1      1         49
3             1     59.0      1      1         49
5             1     97.0      1      1         49
6             1     33.0      1      1         19
...         ...      ...    ...    ...        ...
22287         3    347.0      3      3         49
22288         1     80.0      1      2         19
22289         1     79.0      1      1         49
22290         1    158.0      1      2         49
22291         1     26.0      1      1          9

[14208 rows x 12 columns]
<pandas.core.groupby.generic.SeriesGroupBy object at 0x7feef42bb190>

In [17]:
# 基于多列
df_gb = df.groupby(['gender_group', 'city'])

# print(df_gb.get_group(('Female', "上海")))

df_gb.first()
# df_gb.get_group(('Female', '上海'))

                   store_id channel age_group  wkd_ind product  customer  \
gender_group city
Female       上海         135      线下     30-34  Weekend    当季新品         1
             北京          21      线下     45-49  Weekend      毛衣         1
             南京          19      线下     35-39  Weekend      T恤         4
             广州         231      线下     35-39  Weekend      T恤         3
             成都         360      线下     25-29  Weekday      T恤         1
             杭州         146      线下     25-29  Weekday      运动         1
             武汉          28      线上     35-39  Weekend      T恤         1
             深圳         658      线下     25-29  Weekday    当季新品         4
             西安         802      线下     35-39  Weekday      短裤         1
             重庆         437      线下     20-24  Weekday      T恤         1
Male         上海         142      线下     25-29  Weekday      毛衣         1
             北京          21      线下     20-24  Weekday      T恤         1
             南京          19      线下       <20  Weekend      T恤         1
             广州         420      线上      >=60  Weekday      T恤         1
             成都         430      线下     35-39  Weekend      裙子         1
             杭州         520      线下      >=60  Weekend      T恤         2
             武汉          32      线上     35-39  Weekend      短裤         2
             深圳          70      线下      >=60  Weekday      T恤         2
             西安         648      线下     20-24  Weekend      T恤         1
             重庆         208      线下     20-24  Weekend      配件         1
Unkown       上海         135      线下    Unkown  Weekday      T恤         2
             北京          21      线下    Unkown  Weekend      配件         1
             南京          19      线下    Unkown  Weekend      T恤         1
             广州         399      线下    Unkown  Weekday      T恤         1
             成都         605      线下    Unkown  Weekday      T恤         1
             杭州         248      线下    Unkown  Weekday    当季新品         1
             武汉          46      线下    Unkown  Weekend      配件         1
             深圳         658      线下    Unkown  Weekday      袜子         1
             西安         648      线下    Unkown  Weekend      T恤         1
             重庆         437      线下    Unkown  Weekend      T恤         1

                   revenue  order  quant  unit_cost
gender_group city
Female       上海      49.00      1      1         59
             北京     199.00      1      1         99
             南京     176.00      4      4         49
             广州     114.00      3      3         49
             成都      79.00      1      1         49
             杭州     149.00      1      1         49
             武汉      97.00      1      1         49
             深圳     796.00      4      4         59
             西安      39.00      1      1         19
             重庆     129.00      1      1         49
Male         上海     190.67      1      1         99
             北京      55.33      1      1         49
             南京     198.00      1      2         49
             广州      39.00      1      1         49
             成都      79.00      1      1         59
             杭州     158.00      2      2         49
             武汉      79.00      2      2         19
             深圳     178.00      2      2         49
             西安      59.00      1      1         49
             重庆     149.00      1      1         29
Unkown       上海     197.00      2      3         49
             北京      79.00      1      1         29
             南京      79.00      1      1         49
             广州      99.00      1      1         49
             成都      79.00      1      1         49
             杭州      79.00      1      1         59
             武汉      59.00      1      1         29
             深圳      79.00      1      1          9
             西安      79.00      1      1         49
             重庆      99.00      1      1         49

In [20]:
#分组聚合
df.groupby(["gender_group", "age_group"]).agg({
    "revenue" : "mean",
    "unit_cost" : "mean",
    "revenue" : "sum",
    "unit_cost" : "sum",
})

                           revenue  unit_cost
gender_group age_group
Female       20-24      186.065417  46.481698
             25-29      211.620850  45.942308
             30-34      198.173440  45.901024
             35-39      175.427702  47.235294
             40-44      132.516288  46.863421
             45-49      152.184291  46.860636
             50-54      162.117947  48.209040
             55-59      136.958741  46.832168
             <20        128.237071  46.928571
             >=60       125.006618  49.367647
             Unkown     100.909091  46.272727
Male         20-24      131.822045  44.015432
             25-29      143.603966  44.178571
             30-34      134.524853  45.557487
             35-39      117.688289  46.216940
             40-44       97.552063  45.715789
             45-49       98.698989  46.689531
             50-54       90.028369  46.092199
             55-59      139.416941  47.588235
             <20        113.621500  43.166667
             >=60       129.024408  46.521441
             Unkown     116.900000  58.000000
Unkown       35-39       79.000000  49.000000
             40-44       99.000000  49.000000
             Unkown      85.559138  41.758621